<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="admin-css">
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Webarch - Responsive Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.7/metisMenu.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link th:href="@{/css/webarch.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="swapper">
    <div class="header navbar navbar-inverse clearfix" th:fragment="header">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav pull-left notifcation-center visible-xs visible-sm">
                    <li class="dropdown">
                        <a href="#main-menu" data-webarch="toggle-left-side">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
                <!-- BEGIN LOGO -->
                <a th:href="@{/}">
                    <img alt="logo" th:src="@{/img/logo-shop.png}" width="160" height="auto">
                    <!--<img src="" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21" />-->
                </a>
                <!-- END LOGO -->
                <ul class="nav pull-right notifcation-center">
                    <li class="dropdown hidden-xs hidden-sm">
                        <a th:href="@{/}" class="dropdown-toggle active" data-toggle="">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs hidden-sm">
                        <a href="#" class="dropdown-toggle">
                            <i class="material-icons">email</i><span class="badge bubble-only"></span>
                        </a>
                    </li>
                    <li class="dropdown visible-xs visible-sm">
                        <a href="#" data-webarch="toggle-right-side">
                            <i class="material-icons">chat</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div class="header-quick-nav">
                <!-- BEGIN CHAT TOGGLER -->
                <div class="pull-right">
                    <div class="chat-toggler sm">
                        <div class="profile-pic">
                            <img class="user-logo" src="/link/1528177697-default-user.png" alt=""
                                 data-src="assets/img/profiles/avatar_small.jpg"
                                 data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35"/>
                            <div class="availability-bubble online"></div>
                        </div>
                    </div>
                    <ul class="nav quick-section ">
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" orderId="user-options">
                                <i class="material-icons">tune</i>
                            </a>
                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                                <li>
                                    <a th:href="@{/admin/profile}"> Tài khoản của tôi</a>
                                </li>
                                <li>
                                    <a th:href="@{/}">Trang chủ</a>
                                </li>
                                <!--<li>-->
                                    <!--<a href="email.html"> My Inbox&nbsp;&nbsp;-->
                                        <!--<span class="badge badge-important animated bounceIn">2</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li class="divider"></li>
                                <li>
                                    <a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>&nbsp;&nbsp;Thoát</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-sidebar clearfix" orderId="main-menu" th:fragment="sidebar">
        <!-- BEGIN MINI-PROFILE -->
        <div class="page-sidebar-wrapper scrollbar-dynamic" orderId="main-menu-wrapper">
            <div class="user-info-wrapper sm">
                <div class="profile-wrapper sm">
                    <img class="user-logo" src="/link/1528177697-default-user.png" alt=""
                         data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg"
                         width="69" height="69"/>
                    <div class="availability-bubble online"></div>
                </div>
                <div class="user-info sm">
                    <div class="username" sec:authentication="name"></div>
                    <div class="status">Life goes on...</div>
                </div>
            </div>
            <!-- END MINI-PROFILE -->
            <!-- BEGIN SIDEBAR MENU -->
            <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span>
            </p>
            <ul>
                <li class="start  open active "><a><i class="material-icons">home</i> <span
                        class="title">Bảng điều khiển</span> <span class="selected"></span> <span
                        class="arrow  open "></span> </a>
                </li>
                <li>
                    <a  th:href="@{/admin/profile}"><i class="material-icons">perm_identity</i>
                        <span class="title">Thông tin tài khoản</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/customer}"> <i class="material-icons">panorama_horizontal</i>
                        <span class="title">Quản lí khách hàng</span>
                    </a>
                </li>
                <li>
                    <a class="menu-pointer" th:href="@{/admin/chat}"> <i class="material-icons">announcement</i>
                        <span class="title">Trò chuyện</span><span class=" arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/chat}">Quản trị trò chuyện </a></li>
                        <li><a th:href="@{/admin/chat/user}">Tin nhắn từ khách hàng</a></li>
                    </ul>
                </li>

                <li>
                    <a class="menu-pointer" > <i class="material-icons">view_stream</i> <span class="title">Quản lí sản phẩm</span>
                        <span class=" arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/product}">Danh sách sản phẩm </a></li>
                        <li><a th:href="@{/admin/category}">Danh sách danh mục sản phẩm</a></li>
                    </ul>
                </li>

                <li>
                    <a class="menu-pointer" > <i class="material-icons">playlist_add_check</i> <span class="title">Quản lí đơn hàng</span>
                        <span class=" arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{/admin/order/deliveried}"> Đơn hàng đã giao </a></li>
                        <li><a th:href="@{/admin/order/notdeliveried}"> Đơn hàng đang chuyển </a></li>
                        <li><a th:href="@{/admin/order/unpaid}"> Các giỏ hàng </a></li>
                    </ul>
                </li>
            </ul>

            <div class="clearfix"></div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
    </div>

    <div class="main__content">
        <section>
            <div class="label-success" style="padding: 10px !important; color: #fff;">
                <span th:text="${vm.getMessageTotalProducts()}"></span>
            </div>
            <p style="margin-top: 10px;">
                <button class="btn btn-primary" orderId="btn-new-product">Chèn sản phẩm mới</button>
            </p>

            <div class="table-list-product">
                <table class="table table-bordered table-hover" orderId="myTable">
                    <thead>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Mô tả</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${vm.getListPagingProducts()}">
                        <td>
                            <div class="td-image">
                                <a th:href="@{'product/detail/' + ${product.getId()}}"><img
                                        th:src="${product.getImage()}" alt=""></a>
                            </div>
                        </td>
                        <td><a th:href="@{'product/detail/' + ${product.getId()}}"><span
                                th:text="${product.getName()}"></span></a></td>
                        <td><span th:text="${product.getCategory().getName()}"></span></td>
                        <td><span th:text="${product.getShortDesc()}"></span></td>
                        <td><span th:text="${product.getAmount()}"></span></td>
                        <td><span class="price" th:text="${product.getPrice()}"></span></td>
                        <td>
                            <button class="btn btn-default btn-edit-product"
                                    th:attr="data-product=${product.getId()}">
                                <i class="far fa-edit">Sửa</i>
                            </button>
                            <button class="btn btn-default btn-delete-product"
                                    th:attr="data-product=${product.getId()}">
                                <i class="fa fa-trash" aria-hidden="true">Xóa</i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <p style="margin-top: 10px;">
                <a th:href="@{/}" class="btn btn-primary">Về trang chủ</a>
            </p>
        </section>
    </div>
</div>
<div orderId="modal-create-product" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin sản phẩm</h4>
            </div>
            <div class="modal-body">

                <div class="img-select-block margin-bottom-15">
                    <label>Hình ảnh</label><br/>
                    <img orderId="preview-product-img" th:src="@{/img/default-img.jpg}"/>
                    <input type='file' orderId="input-select-img-product"/>
                </div>

                <div class="form-group margin-bottom-15">
                    <label>Tên sản phẩm:</label>
                    <input type="text" class="form-control" orderId="input-product-name">
                </div>

                <div class="form-group margin-bottom-15">
                    <label for="product-category">Danh mục:</label>
                    <select class="form-control" orderId="product-category">
                        <option th:each="category : ${vm.getListCategories()}"
                                th:value="${category.getId()}"
                                th:text="${category.getName()}"></option>
                    </select>
                </div>

                <div class="form-group margin-bottom-15">
                    <label>Mô tả:</label>
                    <textarea type="text" class="form-control" orderId="input-product-desc"></textarea>
                </div>

                <div class="form-group margin-bottom-15">
                    <label>Số lượng (Kg):</label>
                    <input type="number" class="form-control" orderId="input-product-amount">
                </div>

                <div class="form-group margin-bottom-15">
                    <label>Giá tiền (đ):</label>
                    <input type="number" class="form-control" orderId="input-product-price">
                </div>

                <div class="form-group">
                    <label>Ngày tạo:</label>
                    <div class='input-group date' orderId='datepicker-created-date-product'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                    </div>
                </div>

                <button class="btn btn-default btn-save-product">Lưu sản phẩm</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: js-admin"></div>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<script th:src="@{/js/format_money.js}"></script>
</body>
</html>