<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Điều khiển</title>
</head>
<link rel="stylesheet" th:href="@{/css/remote.css}">
<body>
<div th:replace="fragments/header :: header_top"></div>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div th:replace="fragments/header :: menu_aside"></div>
        <div class="col-lg-9 col-sm-9 col-md-9 col-xs-9 ">
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h3>Bảng điều khiển</h3>
                </div>
                <div class="panel-body">
                    <h3>Thiết bị 1</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label><br><br>

                    <h3>Thiết bị 2</h3>
                    <label class="switch">
                        <input type="checkbox" >
                        <span class="slider round"></span>
                    </label><br><br>

                    <h3>Thiết bị 3</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label><br><br>

                    <h3>Thiết bị 4</h3>
                    <label class="switch">
                        <input type="checkbox" >
                        <span class="slider round"></span>
                    </label><br><br>
                    <button class="send label-primary">Gửi</button>
                    <button class="remove label-danger">Xóa dữ liệu</button>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>
<script th:src="@{/js/remote.js}"></script>

</body>
</html>