body {
    background-color: #eeeeee;
}
#search__product {
    margin-bottom: 20px;
}
#search__content {
    padding: 0 40px;
}
.search__title {
    color: black;
    font-size: 18pt;
    text-decoration: none;
}
.search__title:hover {
    color: black;
}
.check {
    position: relative;
}
.number__shopping {
    color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    padding-right: 10px;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    background: #d00934;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    --border-radius: 15px;
    border-radius: 15px;
    opacity: 50;
}
.footer-surround {
    background-color: #fbfbfb;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
}
.shop-footer {
    max-width: 1200px;
    margin: 0 auto;
}
.shop-footer {
    color: rgba(0,0,0,.65);
}
.shop-footer h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.shop-footer a {
    color: rgba(0,0,0,.54);
    transition: all 0.4s ease;
    text-decoration: none;
    font-size: 13px;
    position: relative;
}
.shop-footer a:hover {
    color: #ff5722;
}
.shop-footer ul {
    padding: 0;
    margin: 0;
}
.shop-footer li {
    list-style-type: none;
    padding-bottom: 5px;
}
.footer-logo {
    text-align: center;
}
.footer-logo img {
    max-width: 100%;
}
.shop-footer p {
    font-size: 13px;
    margin: 0;
}
ul.thanh-toan {
    text-align: left;
}
ul.thanh-toan li {
    width: 50%;
    float: left;
}
.footer-social a:before {
    content: '';
    font-family: fontawesome;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: rgba(0,0,0,.7);
    color: #ccc;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
a.footer-facebook:before {
    content: "\f09a";
}
a.footer-twitter:before {
    content: "\f099";
}
a.footer-google:before {
    content: "\f0d5";
}
.footer-social span {
    padding-left: 25px;
}
.footer-social a:hover:before {
    color: #fff;
}
a.footer-facebook:hover:before {
    background: #4267b2;
}
a.footer-twitter:hover:before {
    background: #1da1f2;
}
a.footer-google:hover:before {
    background: #db4437;
}
.carousel-inner > .item > img {
    width: 100%;
    height: 300px;
}
.surrounding-header {
    margin: 0 auto;
    background: #56acc5;
    /*padding: 15px;*/
    /*margin-bottom: 25px;*/
}
.top-search-holder {
    padding-top: 12px;
}
.logo img {
    width: 280px;
    height: 108px;
}
.inline {
    float: left;
    font-size: 16px;
    text-align: center;
    margin-right: 30px;
}
.contact.inline {
    margin-right: 0;
}
.inline i {
    background: #eee;
    border-radius: 50%;
    color: #424242;
    font-size: 19px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    text-align: center;
}
.inline span {
    font-weight: 700;
    color: #f1eded;
}
.top-cart-row-container i {
    font-size: 50px;
}
.banner-top.row {
    margin: 10px 0;
}
.banner-top img {
    max-width: 100%;
    height: auto;
}
.navbar-brand {
    font-size: inherit!important;
}
header .top-cart-row .top-cart-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
header .top-cart-row .top-cart-holder .checkout a {
    display: inline-block;
}
header .top-cart-row .top-cart-holder .dropdown-menu {
    width: 332px;
    left: -170px;
    top: 65px;
    padding: 16px 0 0 0;
}
header .top-cart-row .top-cart-holder li {
    border-bottom: 1px solid #e0e0e0;
}
header .top-cart-row .top-cart-holder .basket-item {
    padding: 11px 28px;
    position: relative;
}
header .top-cart-row .top-cart-holder .basket-item .thumb {
    border: 1px solid #e0e0e0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
header .top-cart-row .top-cart-holder .basket-item .title {
    font-weight: 100;
    line-height: 26px;
}
header .top-cart-row .top-cart-holder .basket-item .price {
    font-weight: 700 !important;
    font-weight: 800;
}
header .top-cart-row .top-cart-holder .basket-item .close-btn {
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 50%;
}
header .top-cart-row .top-cart-holder .basket-item .close-btn:after {
    color: #3d3d3d;
    content: "\f00d";
    font-family: fontawesome;
}
header .top-cart-row .top-cart-holder .basket-item-count {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
header .top-cart-row .top-cart-holder .basket-item-count .count {
    position: absolute;
    color: #fff;
    top: 5px;
    right: 12px;
    border-radius: 100px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
header .top-cart-row .top-cart-holder .dropdown-toggle {
    display: block;
    padding: 0;
}
header .top-cart-row .top-cart-holder .dropdown-toggle .lbl {
    font-size: 14px;
    line-height: 21px;
    color: #3d3d3d;
    display: block;
}
header .top-cart-row .top-cart-holder .dropdown-toggle .total-price {
    font-size: 22px;
    font-weight: bold;
}
header .top-cart-row .top-cart-holder .dropdown-toggle:after {
    display: none;
}
header .top-cart-row .top-cart-holder .total-price-basket {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
}
nav a.dropdown-toggle {
    padding: 7px!important;
}
.carousel {
}
* {
    font-family: Arial, sans-serif;
}
#cart_popup {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    opacity:0;
    visibility:hidden;
    transition:.5s;
    transform:scale(1.2);
}
#cart_popup:target {
    transform:scale(1);
    background:rgba(0,0,0,.2);
    opacity:1;
    visibility:visible;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index:999999999999;
    transition:.5s;
}
.cart_popup_detail {
    background: #fff;
    border-radius: 4px;
    z-index: 999;
    width: 800px;
    max-width: 100%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 100px rgba(0,0,0,.1);
}
.cart_popup_detail ul {
    margin: 0;
    padding: 0;
}
.cart_popup_detail li {
    width: 48%;
    float: left;
    list-style-type: none;
    padding: 7px;
    border-right: 1px solid #ddd;
}
.cart_popup_detail li:nth-of-type(2) {
    border-right: none;
}
.cart_popup_detail h2 {
    font-size: 21px;
    line-height: 18px;
    color: #72b656;
    font-weight: 700;
    margin-top: 0;
}
.product-imgx {
    width: 145px;
    height: 145px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    margin-right: 20px;
}
.product-imgx img {
    width: 100%;
}
.product-infox {
    display: inline-block;
    vertical-align: top;
}
.product-title-x {
    color: #666;
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 15px;
}
.product-title-x h3 {
    text-transform: capitalize;
    font-weight: 700;
}
.product-prize-x {
    font-weight: 700;
    font-size: 25px;
    color: #f57224;
    margin-bottom: 5px;
}
.product-label {
    margin-bottom: 10px;
    color: #666;
    font-size: 17px;
}
.product-label a {
    color: #4080ff;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.product-label a:hover {
    color: #555;
}
.product-2-title {
    position: relative;
}
.product-2-title h3 {
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}
.product-2-title span {
    display: inline-block;
    font-weight: 700;
}
.product-2-title a {
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.product-2-title a:hover:before {
    transform: rotate(90deg);
}
a.closex:before {
    content: "\f00d";
    font-family: fontawesome;
    position: absolute;
    right: -15px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    top: -5px;
}
.product-2-noti {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.product-2-noti p, .prize-total p, .prize-total span {
    display: inline-block;
}
.product-2-noti .text-1 {
    color: #666;
    margin: 0;
    display: inline-block;
}
.product-2-noti .text-2 {
    display: inline-block;
    float: right;
    margin: 0;
}
.prize-total .text-3 {
    font-weight: 700;
    font-size: 17px;
}
.prize-total .text-prize {
    color: #f57224;
    float: right;
    font-size: 21px;
    font-weight: 700;
    margin: 15px 0;
    margin-bottom: 5px;
}
.prize-total .text-vat {
    font-size: 13px;
    font-weight: 700;
    float: right;
    display: inline-block;
    clear: both;
}
.cart-checkout {
    margin: 30px 0;
    margin-bottom: 0;
}
.cart-checkout a {
    display: inline-block;
    color: #fff;
    background: #f37021;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    transition: all 0.4s ease;
}
.cart-checkout a:hover {
    background: rgba(0,0,0,.7);
}
a.cart-1 {
    margin-right: 16px;
    background: green;
}
a.check {
    text-decoration: none;
    position: relative;
}
a.check:before {
    content:"\f217";
    font-family: fontawesome;
    font-size: 55px;
    color: #ffffff;

}
.top-cart-row {
    text-align: right;
}

.user-logo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin:2px;
}
@media all and (max-width: 900px){
    .logo {
        text-align: center;
    }
}
@media all and (max-width: 503px) {
    .bonus-info {
        display: none;
    }
}
@media all and (max-width: 392px) {
    .logo {
        display: none;
    }
}

.order-img img{
    width: 150px;
    height: 150px;
    left: 15px;
}

#table-cart p {
    padding: 5px;
}

.overlay {
    width: 300px;
    height: 30px;
    box-shadow: 0 0 8px black;
    background: white;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 20px;
    z-index: 101;
    overflow: hidden;
}
.overlay a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
    background: #cd4d43;
    font-size: 14pt;
    /*font-family: "Times New Roman";*/
}
#contact {
    display: inline-block;
    background: white;
}
#contact span {
    background: silver;
}
form input {
    padding: 5px 10px;
    margin-top: 20px;
}
#contact span:hover {
    background: red;
}

.money {
    color: red;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

.name-products {
    position: absolute;
    top: 15%;
    left: 25%;
}

.btn-shopping {
    cursor: pointer;
}