<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">ư
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template text-center" style="margin-top: 200px">
        <h1>Website bán hàng hoa quả</h1>
        <h3>Author: KIENVT</h3>
        <h3>Email : vikienls95@gmail.com</h3>
    </div>

</div>
<!-- /.container -->

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/footer :: js-index"></div>

</body>
</html>