<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
</head>
<link rel="stylesheet" th:href="@{/css/user.css}">
<body>
<div th:replace="fragments/header :: header_top"></div>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin Khách hàng</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" align="center">
                            <img orderId="preview-product-img" alt="User Pic" src="/link/1528177697-default-user.png" class="img-circle img-responsive">
                            <input type='file' orderId="input-select-img-product" />
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Tên đăng nhập:</td>
                                    <td><input class="form-control"  type="text" orderId="username"></td>
                                </tr>
                                <tr>
                                    <td>Tên đầy đủ:</td>
                                    <td><input class="form-control"  type="text" orderId="fullName"></td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Giới tính:</td>
                                    <td>
                                        <form>
                                            <input orderId="male" type="radio" name="gender" value="male"> Male<br>
                                            <input orderId="female" type="radio" name="gender" value="female"> Female<br>
                                            <input orderId="other" type="radio" name="gender" value="other"> Other
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ:</td>
                                    <td><input  class="form-control" type="text" orderId="address"></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><input  class="form-control" type="text" orderId="email"></td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại:</td>
                                    <td><input  class="form-control" type="text" orderId="phone"></td>
                                </tr>
                                <tr>
                                    <td>Mật khẩu cũ:</td>
                                    <td><input  class="form-control" type="password" orderId="old-password"></td>
                                </tr>
                                <tr>
                                    <td>Mật khẩu mới:</td>
                                    <td><input  class="form-control" type="password" orderId="new-password"></td>
                                </tr>
                                <tr>
                                    <td>Nhập lại mật khẩu mới:</td>
                                    <td><input  class="form-control" type="password" orderId="re-new-password"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default btn-save-user">Lưu thông tin</button>
                </div>

                </div>
            </div>
    </div>
    <div class="row" orderId="content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Lịch sử mua hàng</h3>

            <div th:if="${vm} != null">
                <table class="table table-bordered table-hover" orderId="table" style="margin-top: 15px;">
                    <thead>
                    <tr>
                        <th>Số hóa đơn</th>
                        <th>Ngày tạo</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Xem chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${vm}">
                        <td th:text="${order.getId()}"></td>
                        <td th:text="${order.getCreatedDate()}"></td>
                        <td th:text="${order.getAddress()}"></td>
                        <td th:text="${order.getOrderStatus().getName()}"></td>
                        <td><button type="button" class="btn-detail-bill btn-success btn" th:attr="data-bill=${order.getId()}">
                            Xem chi tiết
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${vm} != null">
                <h2>Không có hóa đơn nào !</h2>
            </div>
        </div>
    </div>
</div>


<div orderId="modal-create-bill" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2  class="modal-title text-center" orderId="exampleModalLabel">Chi tiết hóa đơn</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Tên Khách Hàng :</label>
                        <div class="col-sm-8">
                            <label orderId="name">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diachi" class="col-sm-4 col-form-label">Địa chỉ :</label>
                        <div class="col-sm-8">
                            <label orderId="diachi">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diachiemail" class="col-sm-4 col-form-label">Email :</label>
                        <div class="col-sm-8">
                            <label orderId="diachiemail">abc</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ngaylap" class="col-sm-4 col-form-label">Ngày lập hóa đơn :</label>
                        <div class="col-sm-8">
                            <label orderId="ngaylap">abc</label>
                        </div>
                    </div>
                    <h4 style="margin-top: 30px;"><strong>Chi tiết sản phẩm</strong></h4>
                    <hr>
                    <table class="table table-bordered table-hover" orderId="table-detail">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Số Lượng (Kg)</th>
                            <th>Giá (VND)</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <hr>
                    <h4 style="margin-top: 30px;"><strong>Tổng :  </strong><span orderId="sum" class="price"></span></h4>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>

    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/footer :: js-index"></div>
<script th:src="@{/js/user.js}"></script>
</body>
</html>